<div>
  <form class="form-inline" (ngSubmit)="onSubmit()">
    <div class="form-group d-flex flex-column" [formGroup]="playerDataForm">
      <div class="user-name-wrapper margin-bottom-25">
        <label for="userNameInput">
          First Name:
        </label>
        <input id="userNameInput" class="form-control" type="text" formControlName="userName">
      </div>

      <div class="date-picker-wrapper margin-bottom-25">
        <label for="userDateOfBirthInput">
          Date of birth:
        </label>
        <input id="userDateOfBirthInput"
               type="date"
               class="form-control"
               placeholder="yyyy-mm-dd"
               formControlName="userDateOfBirth"
               [minDate]="minDate"
               ngbDatepicker
               #datepicker="ngbDatepicker">
        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="bi bi-calendar-date"></i>
        </button>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!playerDataForm.valid">Submit</button>
    </div>
  </form>
</div>
